### variable declare and memory allocation

In [1]:
#variable declare and memory allocation

first_num = 10
second_num = 20
addition = first_num + second_num
print(addition)

#function
#id
#function
a = 10
b = 10

print(type(first_num),type(second_num))
print(id(first_num), id(second_num))

30
<class 'int'> <class 'int'>
1866427744 1866428064

1. variable name should start with lower case char
2. digits are allowed but not at the start
3. _ allowed

In [2]:
print(id(a),id(b))

1866427744 1866427744

### Datatypes

In [3]:
#integer
num1 = 100 
print(type(num1))

<class 'int'>

In [4]:
#float
num2 = 12.35
print(type(num2))

<class 'float'>

In [5]:
#memory allocation
print(id(num1))
print(id(num2))

1866430624
1921909485048

integer and float are immutable data
Immutable adalah tipe data yang tidak bisa diubah (string, bilangan, tuple) Mutable adalah tipe data yang bisa diubah (list dan dictionary)

In [6]:
#string '' "" 
s = "Python"
print(s,type(s))
print(id(s))

s = "new value"
print(id(s))

Python <class 'str'>
1921883509680
1921927847984

In [7]:
#list -> mutable 
l = [10,20,30,40,50,"django"]
print(id(l))
l.append(60) # add element
l.remove(40) # delete element
l[2]= 40 # update element

print(l)

1921927679496
[10, 20, 40, 50, 'django', 60]

In [8]:
#tuple->immutalble
t = (10, 20, 30)
t2 = (10, 20, 30)
print(type(t))
print(type(t2))
print(id(t))
print(id(t2))

<class 'tuple'>
<class 'tuple'>
1921927672168
1921927655072

In [9]:
#dictionary
d = {"name":"ABC", "email":"abc@gmail.com"}
print(type(d))

<class 'dict'>

In [10]:
#set 
s = {10, 20, 30, 40}
print(type(s))

<class 'set'>

In [11]:
#bool : true false 
c = 4==5
print(c)
print(type(c))

False
<class 'bool'>

In [12]:
a =  4 + 3j
print(type(a))

<class 'complex'>

### Operators

In [13]:
#aritmatik operations
#contain : +,-,*,/,//,%,**

num1 = 10
num2 = 20

print(num1 + num2) #additon
print(num1 - num2) #substraction
print(num1 * num2) #multiplication
print(num1 / num2) #division
print(num1 // num2)#floor divison
print(num1 % num2) #modulus
print(num1 ** num2) #exponenantion

30
-10
200
0.5
0
10
100000000000000000000

In [14]:
#comparison operators
#contain <,>,<=,>=,==,!=

print(num1 > num2) #bigger than
print(num1 < num2) #ssmaller than
print(num1 <= num2) #smaller and equal to
print(num1 >= num2) #bigger and equals
print(num1 == num2) #equals to
print(num1 != num2) #not equal

False
True
True
False
False
True

In [15]:
#identitiy operators
#contains is, is not
num1 = 100
num2 = 100

print(num1 == num2)
print(num1 is num2)

l1 = [10,20,30]
l2 = [10,20,30]

print(l1 is l2)

print(id(l1))
print(id(l2))

#different because == compare the values and is compare the memori location
print(l1 is not l2)

True
True
False
1921927978760
1921927574344
True

In [16]:
#Assignment operators
#contain =, +=, -=, *=, /=

num1 = 100 # assign value 
print(num1)
num1 -= 5 # num1 = num1 - 5
print(num1)
num1 += 5 # num1 = num1 + 5
print(num1)
num1 *= 5 # num1 = num1 * 5
print(num1)
num1 //= 5 # num1 = num1 / 5
print(num1)

100
95
100
500
100

In [17]:
#Bitwise opeator adalah operator khusus untuk menangani operasi logika bilangan biner dalam bentuk bit.
#contain &(and),|(or),^(Xor),~(not)>>(right shift),<<(left shift)

num1 = 2
num2 = 1
print(bin(num1),bin(num2))
print(num1 & num2)
print(num1 | num2)
print(2 >> 1)
print(2 << 1)

0b10 0b1
0
3
1
4

In [18]:
#logical operator 
#contain and or not

print(10==10 and 20==20)
#one cond is false other is false present false

print(10==10 and 20==20)
#one cond is false other is false present true

print(not(10==15))

True
True
True

In [19]:
#membership operators
#contain in
l = [10,20,30,40,50]
print(30 in l)

s = "aku cinta kamu"
print("dia" in s)

True
False

### Conditional Statement | if elif else

In [20]:
#syntax
# if [condition]:
#    statement
#elif [condition]
#else: 
#    statement

num1 = 100
num2 = 50

if num1 > num2: 
    print("Num1 is greater than num2")#always use indentation for conditional
elif num2 > num1: 
    print("Num2 is greater than num1")
else: 
    print("Both are equal")
    
if 1 : 
    print("Statement if in block")#non zero value consider true
else:
    print("Statement in else block")

Num1 is greater than num2
Statement if in block

### Loops in python

1.For loop 
syntax : 

for [variable_name] in [iterable data]:
    statements
    
 iterable datatypes : 
 str list tuple dict set

In [21]:
l = [10, 20, 30, 40, 50]


sum = 0 
for value in l : 
    sum = sum + value 
    
    print(sum)

10
30
60
100
150

use range for specific range of numbers

range(5)
range(10,100)
range(10,100,5)

In [22]:
for value in range(5):
    print(value)

0
1
2
3
4

In [23]:
for value in range(10,20):
    print(value)

10
11
12
13
14
15
16
17
18
19

### break, continue, enumerate

In [24]:
#syntax
# for value in range(10):
#     print(value)

l = [10,20,30,40,50,60]
key = 400 #compare the key for every element if not continue, if yes stop

for value in l:
    if value == key:
        print("Element found") 
        break
    else:
        continue # for the next iteration
else:
    print("Element not found")

Element not found

In [25]:
l = [10,20,30,40,50,60]
key = 40

for index,value in enumerate(l):
    #print (index, value)
    if value == key:
        print("Element found at index", index) 
        break
    else:
        continue # for the next iteration
        print("Statement after continue statement")
else:
    print("Element not found")

Element found at index 3

In [26]:
#pass
for index,value in enumerate(l):
    #print (index, value)
    if value == key:
        print("Element found at index", index) 
        break
    else:
        pass
else:
    print("Element not found")

Element found at index 3

### while loop

In [27]:
#syntax
#while [condition]:
#    [statements]
#else:
    
count = 1 
sum = 0

while count <= 20:
    sum = sum + count
    count = count+1
    
print(sum)

210

###   QUiz

1.write a python program to find those numbers which arw divisible by 7 and 5 between 1500 and 2700 (both included)

In [28]:
for number in range(1500,2701):
    if number % 7 == 0 & number % 5 == 0:
        print(number)

1505
1512
1519
1526
1533
1540
1547
1554
1561
1568
1575
1582
1589
1596
1603
1610
1617
1624
1631
1638
1645
1652
1659
1666
1673
1680
1687
1694
1701
1708
1715
1722
1729
1736
1743
1750
1757
1764
1771
1778
1785
1792
1799
1806
1813
1820
1827
1834
1841
1848
1855
1862
1869
1876
1883
1890
1897
1904
1911
1918
1925
1932
1939
1946
1953
1960
1967
1974
1981
1988
1995
2002
2009
2016
2023
2030
2037
2044
2051
2058
2065
2072
2079
2086
2093
2100
2107
2114
2121
2128
2135
2142
2149
2156
2163
2170
2177
2184
2191
2198
2205
2212
2219
2226
2233
2240
2247
2254
2261
2268
2275
2282
2289
2296
2303
2310
2317
2324
2331
2338
2345
2352
2359
2366
2373
2380
2387
2394
2401
2408
2415
2422
2429
2436
2443
2450
2457
2464
2471
2478
2485
2492
2499
2506
2513
2520
2527
2534
2541
2548
2555
2562
2569
2576
2583
2590
2597
2604
2611
2618
2625
2632
2639
2646
2653
2660
2667
2674
2681
2688
2695

2. Write a python program to count the number of even and odd numbers from a a series if numbers 
sample 

numbers = (1,2,3,4,5,6,7,8,9)
even : 5
odd : 4

In [29]:
numbers = [1,2,3,4,5,6,7,8,9]
odd = 0
even = 0 
for i in numbers :
    if (i % 2 == 0):
        odd = odd + 1
    else:
        even = even + 1
print("Number of even number : ",  even)
print("Number of even number : ",  odd)

Number of even number :  5
Number of even number :  4

3. Writes a python program which iterates the integers from 1 to 50,
For multiples of three print "Fizz" instead ot he number and for the multiples of five print Buzz. For numbers which are multipels of both three and five print "FizzBuzz"

In [30]:
for num in range(1,51):
    if (num % 5==0 & num % 3 == 0):
        print("Fizzbuzz")
    elif (num % 5==0):
        print("Buzz")
    elif (num % 3 == 0):
        print("Fizz")

Fizz
Fizzbuzz
Fizz
Fizz
Fizzbuzz
Fizz
Fizzbuzz
Fizz
Fizzbuzz
Fizz
Fizz
Fizzbuzz
Fizz
Fizzbuzz
Fizz
Fizzbuzz
Fizz
Fizz
Fizzbuzz
Fizz
Fizzbuzz
Fizz
Fizzbuzz

3. Write a python program to calculate the sum and average of n integer numbers:

In [31]:
sum = 0
average=0

for i in range (1,100):
    sum = sum + i 
    i +=1
print(sum)
print(i)

average = sum/i

print(average)

4950
100
49.5

5. Factorial of any number n is represented by n! and is equal to 1*2*3*(n-1)*n

E.g:
    4! = 4*3*2*1
    
    1!=1
    0! = 0

In [65]:
n = int(input())
i = 1
factorial = 1

for i in range (1, n + 1): 
    if (n == 1): 
        factorial = 1
    else:
        factorial = factorial * i 

print(factorial)

0
1

### String

#s = ' '," ",""" """
strings are immutabel

In [67]:
s = "Python sampe string"
print(type(s))

<class 'str'>